body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333;
}

section {
  display: block;
  text-align: center;
  padding: 0 0 20px;
}

section hr {
  width: 50%;
}

a,
a:visited {
  text-decoration: none;
  color: #555;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #888;
}

a:active,
a:focus {
  text-decoration: none;
  color: #aaa;
  outline: none;
}

/* Flaired edges, by Tomas Theunissen */
hr.style-seven {
  height: 30px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #eee;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.teall-bg {
  color: #eee;
  background-color: #333;
}

/*-- Custom Buttons --*/
.btn:focus,
.btn:active {
  /* Prevent clue outline around boostrap buttons */
  outline: none !important;
}

.btn-clear-light,
.btn-clear-light:visited {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
}

.btn-clear-light:hover {
  color: #333;
  background: #eee;
}

.btn-clear-light:active,
.btn-clear-light:focus {
  color: #333;
  background-color: #ddd;
}

.btn-clear-dark,
.btn-clear-dark:visited {
  color: #eca1c0;
  background: none;
  border: 1px solid #ffa7a7;
  border-radius: 0;
}

.btn-clear-dark:hover {
  color: #eee;
  background: #eca1c0;
}

.btn-clear-dark:active,
.btn-clear-dark:focus {
  color: #eca1c0;
  background-color: #f4c1d6;
}

.btn-clear-med,
.btn-clear-dark:visited {
  color: black;
  background: none;
  border: 1px solid #000000;
  border-radius: 0;
}

.btn-clear-med:hover {
  color: #333;
  border-color: #333;
}

.btn-clear-med:active,
.btn-clear-med:focus {
  color: black;
  border-color: black;
}

.btn-fill-dark,
.btn-fill-dark:visited {
  color: #000000;
  background-color: #222;
  border: 1px solid #000;
  border-radius: 0;
}

.btn-fill-dark:hover {
  color: #eee;
  background-color: #101010;
}

.btn-fill-dark:active,
.btn-fill-dark:focus {
  color: #fff;
  background-color: #333;
}

.btn-fill-red,
.btn-fill-red:visited {
  color: #fff !important;
  background: none;
  background-color: #d33;
  border: 1px solid #a33;
  border-radius: 0;
}

.btn-fill-red:hover {
  background-color: #b33;
}

.btn-fill-red:active,
.btn-fill-red:focus {
  background-color: #f33;
}
/*-- END Custom Buttons --*/

.soft-transition {
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
}

.container {
  max-width: 1024px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  transition: all 0.5s ease-out;
}

.navbar {
  background: none;
  border: none;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand > img {
  max-height: 400%;
  transition: linear 0.4s;
  border-radius: 10px;
  display: inline-block;
  margin-right: 2px;
}

.navbar-brand p {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-family: "Acme";
}

.navbar-brand p:hover {
  color: gray;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-family: "Acme";
}

.navbar-default .navbar-nav > li > a:hover {
  color: gray;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #444;
}

/*-- Mobile nav --*/
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
  border: none;
}

/*-- Jumbotron settings --*/
.jumbotron {
  position: relative;
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: #333;
  overflow: hidden;
}

.jumbotron .container .profile-img,
.jumbotron .container h1,
.jumbotron .container h4,
.jumbotron .container hr,
.jumbotron .container a {
  position: relative;
}

.jumbotron .parallax-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes slideInLeft {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

.jumbotron .profile-img {
  width: 25%;
  margin-top: -120px;
  mix-blend-mode: multiply;
  animation: 1s ease-out 0s 1 slideInLeft;
}
.jumbotron h1 {
  font-family: "Acme", sans-serif;
  font-size: 6vw;
  animation: 2s ease-out 0s 1 slideInLeft;
}

.jumbotron hr {
  width: 50%;
}

.jumbotron h4 {
  max-width: 50%;
  margin: 0 auto 20px;
}

.project-thumb {
  width: 100%;
  max-width: 280px;
  border: 1px solid #ccc;
}

.project-thumb:hover {
  transform: scale(1.1);
}

.modal-content {
  border-radius: 0;
}

.modal-dialog {
  margin: 0 auto;
}

.modal-thumb img {
  width: 66%;
  padding-top: 20px;
}

.modal-body {
  padding: 20px 0;
  text-align: left;
  width: 66%;
  margin: 0 auto;
}

.close {
  font-size: 40px;
  font-weight: 200;
}
/* END custom modal settings --*/

#about p {
  width: 50%;
  margin: 0 auto 10px;
}

#skills img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#contact form {
  width: 50%;
  margin: 20px auto;
}

.alert,
.alert-success {
  width: 33%;
  margin: 20px auto 0;
  background: none;
  color: #fff;
  border-color: #eee;
  border-radius: 0;
}

footer {
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #ddd;
}
@media (max-width: 1200px) {
  .jumbotron .parallax-img {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 736px) {
  .jumbotron .profile-img {
    width: 50%;
    margin-top: 0;
  }
  .jumbotron h1 {
    top: 40px;
    font-family: "Acme", sans-serif;
  }
  .jumbotron .container a {
    margin-bottom: 10px;
  }

  #about p,
  #contact form,
  .modal-body,
  .modal-thumb img {
    width: 90%;
  }
}

.slider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}
.slide:nth-child(1) .panel > * {
  background: #636fee;
  color: #7594f0;
}
.slide:nth-child(2) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}
.slide:nth-child(3) .panel > * {
  background: #63afee;
  color: #75cdf0;
}
.slide:nth-child(4) .panel > * {
  background: #d24b62;
  color: #ec8181;
}
.slide .center {
  opacity: 0;
  transition: opacity linear 300ms;
}
.slide .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}
.slide .top,
.slide .bottom {
  content: attr(data-back);
  position: absolute;
  font-size: 25vw;
  font-weight: 800;
  height: 25vh;
  width: 100vw;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
}
.slide .top:after,
.slide .bottom:after {
  position: relative;
  display: inline-block;
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  content: attr(data-back);
  font-family: "BenchNine", sans-serif;
}
.slide .top {
  line-height: 50vh;
  transform: translatey(-50vh);
}
.slide .top:after {
  transform: translatey(50vh);
}
.slide .bottom {
  bottom: 0;
  line-height: 0vh;
  transform: translatey(50vh);
}
.slide .bottom:after {
  transform: translatey(-50vh);
}
.slide.active .center {
  opacity: 1;
  transition: opacity linear 300ms;
  transition-delay: 600ms;
}
.slide.active .top,
.slide.active .bottom {
  transition: none;
  transform: translatey(0);
  z-index: 1;
}
.slide.active .top:after,
.slide.active .bottom:after {
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transform: translatey(0);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  text-align: center;
}
.center h1 {
  font-size: 3.4vw;
  opacity: 1.5;
  line-height: 1;
  font-family: "BenchNine", sans-serif;
  color: white;
}

.sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}
.ending {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 47vh;
  width: 100vw;
  height: calc(1000px - 20vw);
  background-color: #2f2f2f;
}
.ending .last {
  padding-left: 20px;
  padding-right: 20px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgb(255, 255, 255);
}
.ending .last h1 {
  color: white;
  font-family: "Acme", sans-serif;
}
.ending .last h4 {
  color: white;
  text-align: center;
  font-family: "Acme";
}

@media (max-width: 1200px) {
  .center h1 {
    font-size: 6vw;
    opacity: 0.7;
  }
  .ending {
    flex-direction: column;
    margin-top: 47vh;
  }
  .ending .last {
    width: 90vw;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0);
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.form {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-left: -35%;
}
.form h1 {
  margin-left: 100px;
}

@media (max-width: 1200px) {
  .form {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
  }
  .form h1 {
    margin-left: 0;
  }
}

.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 13px;
  height: 40px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #b1b1b1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}

a.send-btn {
  float: right;
  color: #b1b1b1;
  transition: 0.2s ease;
}

a.send-btn:hover {
  color: #fafafa;
  cursor: pointer;
}
